

<h1> Ingredients Page </h1>

<div class="ingredients">
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  
</div>



<div class="ingredients">
  
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
</div>


<div class="ingredients">
  
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
</div>