<h1> Ingredients Page </h1>

<div class="ingredients" ng-controller="foodCtrl">
  <% @ingredients.each do |ingredient| %>
    <input type="checkbox" ng-model="ingredient[$index]" ng-change="getRecipes()" /> <%= ingredient.name %><br/>
  <% end %>
</div>
<!-- 
<div class="ingredients">
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
</div>


<div class="ingredients">
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
</div>


<div class="ingredients">
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
  <div class="col-md-2">.col-md-2</div>
</div>
 -->